{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<style>
    body {
      background-color: lightgrey; 
    }
  </style>

<div class= p-5 >
    <div class="container">
            <h1 class="display-3">Bienvenidos a la TIENDA JM</h1>
            <hr class="my-2">

        <p class="lead">
            <a class="btn btn-primary btn-lg" style="background-color: lightseagreen;" href="{% url 'tienda' %}" 
            role="button">Ir a la Tienda</a>
        </p>
        </div>
    </div>

{% endblock %}