{% extends "base.html" %}

{% block titulo %} Agregar Nuevos Productos {% endblock %}

{% block contenido %}  

<div class="card">
 <div class="card-header" style="background-color: lightseagreen; color: white">
    Crear un producto
 </div>
  <div class="card-body" style="background-color: lightgrey">
    <h4 class="card-title">Datos del producto</h4>
    
    {% include 'tienda/form.html' %}


  </div>
  <div class="card-footer text-muted">

  </div>
</div>

{% endblock %}