{% extends "base.html" %}

{% block titulo %} Lista Productos {% endblock %}

{% block contenido %}  
    
<div class="card">
    <div class="card-header" style="background-color: lightseagreen">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button" style="background-color: lightseagreen; color: white;">Agregar nuevo producto</a>
    </div>
    <div class="card-body" style="background-color: lightgrey">
        <h4 class="card-title">Productos</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                   
                    {% for tienda in tienda %}
                    <tr>
                        <td>{{ tienda.id }}</td>
                        <td>{{ tienda.nombre }}</td>
                        <td>
                            <img src="{{ tienda.imagen.url }}" height="100" />
                        
                        </td>
                        <td>{{ tienda.descripcion }}</th>
                        <td>
                            <a name="" id="" class="btn btn-info" style="background-color: lightseagreen; color: white;" href="{% url 'editar' tienda.id %}" role="button">Editar</a> 
                            | 
                            <a name="" id="" class="btn btn-info" style="background-color: lightcoral; color: white;" href="{% url 'eliminar' tienda.id %}" role="button">Borrar</a>

                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}